{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Favicons -->
  <link href='{% static "img/favicon.png" %}' rel="icon">
  <link href='{% static "img/apple-touch-icon.png" %}' rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700|Roboto:300,400,700&display=swap" 
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href='{% static "vendor/icofont/icofont.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/line-awesome/css/line-awesome.min.css" %}' rel="stylesheet">
  <link href='{% static "vendor/aos/aos.css" %}' rel="stylesheet">
  <link href='{% static "vendor/owlcarousel/assets/owl.carousel.min.css" %}' rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href='{% static "css/style.css" %}' rel="stylesheet">

  <title> {% block title %}JobGenie{% endblock %}</title>

</head>

<body>

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-lg-2">
            <h1 class="mb-0 site-logo"><a href="{% url 'homepage' %}" class="mb-0"><b>JobGenie</b></a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-lg-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li ><a href="{% url 'homepage' %}" class="nav-link">Home</a></li>
                <li><a href="{% url 'js wala page' %}" class="nav-link">Get Skills</a></li>
                <li><a href="{% url 'home' %}" class="nav-link">Search Jobs</a></li>
                <li><a href="{% url 'Login' %}" class="nav-link">Login</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-lg-none ml-md-0 py-3" style="position: relative; top: 3px;">

            <a href="#" class="burger site-menu-toggle js-menu-toggle" data-toggle="collapse"
              data-target="#main-navbar">
              <span></span>
            </a>
          </div>

        </div>
      </div>

    </header>


    <main id="main">
      {% block head %}
      <div class="hero-section">

        <div class="wave">

          <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
                <path
                  d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z"
                  id="Path"></path>
              </g>
            </g>
          </svg>

        </div>
        
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12 hero-text-image">
              <div class="row">
                <div class="col-lg-7 text-center text-lg-left">
                  <h1 data-aos="fade-right">Get you career started with JobGenie</h1>
                  <p class="mb-5" data-aos="fade-right" data-aos-delay="100"></p>
                  <p data-aos="fade-right" data-aos-delay="200" data-aos-offset="-500"><a href="{% url 'Login' %}"
                      class="btn btn-outline-white">Get started</a></p>
                </div>
                <div class="col-lg-5 iphone-wrap">
                  <img src='{% static "img/phone_1.png" %}' alt="Image" class="phone-1" data-aos="fade-right">
                  <img src='{% static "img/phone_2.png" %}' alt="Image" class="phone-2" data-aos="fade-right" data-aos-delay="200">
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
      </div>

{% block body %}
      <div class="site-section">
        <div class="container">

          <div class="row justify-content-center text-center mb-5">
            <div class="col-md-5" data-aos="fade-up">
              <h2 class="section-heading">Save your time and effort by using JobGenie</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
              <div class="feature-1 text-center">
                <div class="wrap-icon icon-1">
                  <span class="icon la la-users"></span>
                </div>
                <h3 class="mb-3">Community of Proffesionals</h3>
                <p>A motive driven community of industralists and mentors alike.</p>
              </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
              <div class="feature-1 text-center">
                <div class="wrap-icon icon-1">
                  <span class="icon la la-toggle-off"></span>
                </div>
                <h3 class="mb-3">Digital Whiteboard</h3>
                <p>Skillset trends are updated to keep your portfolio on par to the industry competition.</p>
              </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="feature-1 text-center">
                <div class="wrap-icon icon-1">
                  <span class="icon la la-umbrella"></span>
                </div>
                <h3 class="mb-3">Future Prooofing</h3>
                <p>We use data from our professionals with high experience in every part of the industry alongside machine generated  probabilistic and statiscal data.This way we are mistake-proof! </p>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- .site-section -->

      <div class="site-section">
        

          <div class="row">
            <div class="col-md-4">
              <div class="step">
                <span class="number">01</span>
                <h3>Sign Up</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="step">
                <span class="number">02</span>
                <h3>Create Profile</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="step">
                <span class="number">03</span>
                <h3>Enjoy the app</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, optio.</p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .site-section -->



      <div class="site-section cta-section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 mr-auto text-center text-md-left mb-5 mb-md-0">
              <h2>Starts Publishing Your Apps</h2>
            </div>
            <div class="col-md-5 text-center text-md-right">
              <p><a href="#" class="btn"><span class="icofont-brand-apple mr-3"></span>App store</a> <a href="#"
                  class="btn"><span class="icofont-ui-play mr-3"></span>Google play</a></p>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
    </main>
    <footer class="footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4 mb-md-0">
            <h3>About JobGenie</h3>
            <p>We are platform for where we bring together recruiters and potential employees where they can meet and benefit each other.</p>
            <p class="social">
              <a href="#"><span class="icofont-twitter"></span></a>
              <a href="#"><span class="icofont-facebook"></span></a>
              <a href="#"><span class="icofont-dribbble"></span></a>
              <a href="#"><span class="icofont-behance"></span></a>
            </p>
          </div>
          <div class="col-md-7 ml-auto">
            <div class="row site-section pt-0">
              <div class="col-md-4 mb-4 mb-md-0">
                <h3>Navigation</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
              <div class="col-md-4 mb-4 mb-md-0">
                <h3>Services</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Team</a></li>
                  <li><a href="#">Collaboration</a></li>
                  <li><a href="#">Todos</a></li>
                  <li><a href="#">Events</a></li>
                </ul>
              </div>
              <div class="col-md-4 mb-4 mb-md-0">
                <h3>Downloads</h3>
                <ul class="list-unstyled">
                  <li><a href="#">Get from the App Store</a></li>
                  <li><a href="#">Get from the Play Store</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        

      </div>
    </footer>
  </div> <!-- .site-wrap -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "vendor/jquery/jquery-migrate.min.js" %}'></script>
  <script src='{% static "vendor/bootstrap/js/bootstrap.min.js" %}'></script>
  <script src='{% static "vendor/easing/easing.min.js" %}'></script>
  <script src='{% static "vendor/php-email-form/validate.js" %}'></script>
  <script src='{% static "vendor/sticky/sticky.js" %}'></script>
  <script src='{% static "vendor/aos/aos.js" %}'></script>
  <script src='{% static "vendor/owlcarousel/owl.carousel.min.js" %}'></script>

  <!-- Template Main JS File -->
  <script src='{% static "js/main.js" %}'></script>

</body>

</html>
