{% extends 'base.html' %}

{% block title %} Login {% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->

</head>
<body>
    {% block body %}

<header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <div class="login-form">

    {% load crispy_forms_tags %}
    <form method="post">
        {% csrf_token %}
        <h2 class="text-center">User Log in</h2>       
        <div class="form-group">
            {{form|crispy}}
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
           
        </div>
               
    </form>
    
</div>
</div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
{% endblock %}


</html>